@import "~tailwindcss/base";

@layer base {
  h1 {
    @apply text-2xl;
    margin-bottom: 1rem;
  }
  h2 {
    @apply text-xl;
    margin-bottom: .8rem;
  }
  h3 {
    @apply text-lg;
    margin-bottom: .5rem;
  }
}

@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@font-face {
  font-family: 'grenale_slabnorm';
  src: url('../fonts/insigne_-_grnd-nordem-webfont.woff2') format('woff2'),
       url('../fonts/insigne_-_grnd-nordem-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'grenale_slabnorm';
  src: url('../fonts/insigne_-_grnd-norbol-webfont.woff2') format('woff2'),
       url('../fonts/insigne_-_grnd-norbol-webfont.woff') format('woff');
  font-weight: semibold;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'grenale_slabnorm', sans-serif;
}

.swiper-button-next, .swiper-button-prev {
  --swiper-theme-color: #d05559;
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: #d05559;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  --swiper-navigation-size: 32px;
}

.swiper-container {
  height: auto;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1140px) {
  .swiper-container {
    height: 500px;
  }
}

.swiper-container .swiper-slide .text-container {
  background: RGBA(0,0,0,.4);
}

.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

p {
  @apply mb-4;
}

a {
  @apply text-red-700;
}

// Custom styles for latest posts
.wp-block-latest-posts li a {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: .5rem;
  font-family: 'grenale_slabnorm', sans-serif;
}

// Custom styles for popular posts
.wpp-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media screen and (min-width: 540px) {
  .wpp-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 720px) {
  .wpp-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

// Font content
.font-content {
  font-family: 'Noto Sans', sans-serif;
}
